sudo: false
language: scala

scala:
  - 2.11.8

jdk:
  - oraclejdk8

services:
  - postgresql

env:
  - PG_HOST_PORT=localhost:5432 PG_USER=postgres PG_DBNAME=finagle_postgres_test

before_script:
  - createdb -U postgres finagle_postgres_test

script:
  - sbt ++$TRAVIS_SCALA_VERSION coverage test

after_success:
  - sbt coveralls

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

