<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/finagle/finagle-postgres" class="btn">View on GitHub</a>
  <a href="https://gitter.im/finagle/finagle-postgres?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge" class="btn badge">
    <img src="https://badges.gitter.im/finagle/finagle-postgres.svg" alt="Gitter Chat" />
  </a>
  <a href="https://maven-badges.herokuapp.com/maven-central/com.github.finagle/finagle-postgres_2.11" class="btn badge">
    <img src="https://img.shields.io/maven-central/v/io.github.finagle/finagle-postgres_2.11.svg" alt="Maven Central" />
  </a>
  <a href="https://travis-ci.org/finagle/finagle-postgres" class="btn badge">
    <img src="https://img.shields.io/travis/finagle/finagle-postgres/master.svg" alt="Build Status" />
  </a>
</section>
